# Ignore everything
/*

# Allow the component path
!/custom_components/
!/custom_components/cimc_redfish/
!/custom_components/cimc_redfish/**

!/sample/

# Still ignore pycaches and pyc files inside it
/custom_components/cimc_redfish/**/__pycache__/
/custom_components/cimc_redfish/**/*.pyc

# (Optional) Keep these files
!/README.md
!/LICENSE
!/.gitignore
